@model CommunicatorVM

@{
    ViewData["Title"] = "Communicator";
}

<!-- @* // todo add font awesome icons. *@ -->
<div class="hero">
    <img src="~/images/spaceBackground.webp"/>
    <div class="container command-overview">
        
        @foreach (var command in Model.RegisteredCommands)
        {
            <div class="container command-container">
                <table>
                    <tr>
                        <td>
                            @command.Name <button>Send</button>
                        </td>
                    </tr>
                </table>
            </div>
            //<button class="command" onclick="sendCommand('@command')">@command</button>
        })
            
        @if (!Model.RegisterdCommands.Any())
        {
            <div class="container command-container">
                >No commands registered            
            </div>
            // Show message saying no commands registered
        }
    </div>
</div>

<style>

    .command-overview {
    
    }

    .command-container {
    }
</style>

