@model CommunicatorVM

@{
    ViewData["Title"] = "Communicator";
}

@* <!-- @* // todo add font awesome icons. *@
@* <div class="hero">
    <img src="~/images/spaceBackground.webp"/>
    <div class="container command-overview">
        
        @foreach (var command in Model.RegisteredCommands)
        {
            <div class="container command-container">
                <table>
                    <tr>
                        <td>
                            @command.Name <button>Send</button>
                        </td>
                    </tr>
                </table>
            </div>
            //<button class="command" onclick="sendCommand('@command')">@command</button>
        })
            
        @if (!Model.RegisteredCommands.Any())
        {
            <div class="container command-container">
                >No commands registered            
            </div>
            // Show message saying no commands registered
        }
    </div>
</div> *@ 

<div class="command-overview-container">
    @foreach (var command in Model.Commands)
    {
        <div class="container command-container">
            <table>
                <tr>
                    <td>
                        @command.Name
                    </td>
                    <td>
                         <button class="command" asp-action="RunCommand" asp-controller="Communicator" asp-route-id="@command.Id">Send</button>
                    </td>
                </tr>
            </table>
        </div>
    }
</div>

<div class="prompt-container">
    <span class="prompt">SerialCommunicator></span>
    <input type="text" class="input-field" id="userInput" autofocus />
</div>

<style>
    body {
        font-family: Consolas, monospace;
    }

    .prompt-container {
        padding: 10px;
        background-color: #0F0F0F;
        color: #00FF00;
    }

    .prompt {
        color: #00FF00;
        background-color: #0F0F0F;
    }

    .input-field {
        color: #00FF00;
        background-color: #0F0F0F;
        border: none;
        outline: none;
        font-family: Consolas, monospace;
    }
</style>

<script>

    document.getElementById('userInput')
        .addEventListener('keypress', (event) => {
        
        // 13 is the enter key
        if (event.keyCode === 13) {

            var userInput = document.getElementById('userInput').value;
            console.log(userInput);
            document.getElementById('userInput').value = '';
        }
    });
        
</script>