@model CommunicatorVM

@{
    ViewData["Title"] = "Communicator";
}

<div class="main-container">
    <div class="command-overview-container c-container">
        @foreach (var command in Model.Commands)
        {
            <div class="container command-container">
                <table class="width-100">
                    <tr>
                        <td>
                            @command.Name
                            <button class="command" onclick="sendCommand('@command.Id');">
                                Send <i class="fa-solid fa-paper-plane"></i>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        }
    </div>

    <div class="c-container p-container">
        <span class="prompt">@Model.PromptName> Awaiting instructions...</span>

        </table>
    </div>
</div>


<style>
    .prompt {
        color: #00FF00;
        background-color: #0F0F0F;
        width: 100%;
        display: block;
    }

    .input-field {
        color: #00FF00;
        background-color: #0F0F0F;
        border: none;
        outline: none;
        font-family: Consolas, monospace;
    }

    .prompt-message {
        color: #00FF00;
        background-color: #0F0F0F;
        border-none;
        outline: none;
        font-family: Consolas, monospace;
    }

    .main-container {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        gap: 30px;
        padding: 20px;
    }

    .command-overview-container {
        flex: 1;
        background-color: #f0f0f0;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        padding: 15px;
        max-width: 45%;
    }

    .c-container {
        border: 5px ridge gray;
        padding: 10px;
        background-color: #0F0F0F;
        color: #00FF00;
        width: 50%; 
    }

    .width-100 {
        width: 100%;
    }

    .command:hover {
        background-color: #0056b3;
    }

    .p-container {
        min-height: 45em;
    }

    .prompt-container {
        flex: 1;
        display: flex;
        gap: 10px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        min-height: 25em;
    }

    body {
    font-family: 'Consolas', monospace;
    font-size: 1em;
    background-color: #1C1C1C; 
    color: #FFFFFF;
    }

    .command {
        background: linear-gradient(to right, #0088CC, #0044CC); 
        color: #FFFFFF;
        border: 1px solid #0056b3;     
        padding: 12px 18px; 
        border-radius: 5px; 
        cursor: pointer;
        transition: all 0.3s ease;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
        float: right;
    }

    .command:hover {
        background: linear-gradient(to right, #0056b3, #002d70); 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    }


    .command-container {
        margin-bottom: 10px;
        border-radius: 6px;
        padding: 0.75em;
        background-color: #2C2C2C; 
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    }
</style>

<script>

    function sendCommand(commandId) { 
        
        addPromptMessage("Sending command with id #" + commandId + "...");

        $.ajax({

            type: "POST",
            url: "/Communicator/SendCommand",
            data: { id: commandId },
            
            success: function (response) {
                console.log(response);
                addPromptMessage("Command with id #" + commandId + " was sent successfully.");
                console.log("Success");
            },
            
            error: function (response) {
                console.log(response);
                addPromptMessage("Failed to send command with id #" + commandId + ".");
            }
        });
    }

    function addPromptMessage(message) {
        var capitalizedMessage = message.charAt(0).toUpperCase() + message.slice(1);
        var promptMessage = "@Model.PromptName" + "> " +  capitalizedMessage;
        $('.p-container').append('<span class="prompt"> ' + promptMessage + '</span>');
    }
</script>