@{
    ViewData["Title"] = "Home";
}

<div class="hero">
    <img src="~/images/spaceBackground.webp"/>
    <div class="container">
        <h1 class="">SerialCommunicator</h1>
        <h3>Doing what a serial communicator does.</h3>
        <button class="call-to-action" onclick="@Url.Action('Index', 'Communicator')">Start</button>
    </div>
</div>