@{
    ViewData["Title"] = "Home";
}

<div class="hero">
    <image src="~/images/spaceBackground.webp"></image>
    <div class="container">
        <h1 class="">SerialCommunicator</h1>
        <h3>Doing what a serial communicator does.</h3>
        <button class="call-to-action" onclick="@Url.Action("", "")">Start</button>
    </div>
</div>


// TODO, dump this stuff in the _viewImports, and work on layout
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
