html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Your Sans-serif Font', sans-serif;
}

.hero {
    background-size: cover;
    text-align: center;
}

.nav-item {
    border: 2px solid grey;
    border-radius: 12px;
    color: #FFFFFF;
    border: 1px solid #0056b3;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.widgets {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}